@media screen and (max-width:600px) {
  #hero{
    height: auto !important;
  }
  .col-1 {
    grid-template-columns: repeat(1, auto) !important;
  }
  .d-none-sm {
    display: none !important;
  }
  .w-100-md{
    width: 100% !important;
  }
  .mb-2-md{
    margin-bottom: 1rem !important;
  }

}

@media screen and (min-width:600px) and (max-width:767px) {
  #hero{
    height: auto !important;
  }
  .col-2 {
    grid-template-columns: repeat(2, auto) !important;
  }

  .d-none-sm {
    display: none !important;
  }

  #logo img {
    width: 100px !important;
  }

  .flex-dir-col-sm{
    flex-direction: column !important;
  }
  .flex-nowrap{
    flex-wrap: nowrap !important;
  }

  .w-100-md{
    width: 100% !important;
  }
  .mb-2-md{
    margin-bottom: 1rem !important;
  }

}

@media screen and (min-width:767px) and (max-width:991px) {
  #logo img {
    width: 100px !important;
  }
  .col-3{
    grid-template-columns: repeat(3, auto) !important;
  }
}